
@{
    ViewBag.Title = "CompraConfirmada";
}
<br />
<h2>Pagamento Realizado</h2>
<hr />
<h4>Agora é só aguardar a chegada de sua mercadoria!</h4>
<br/>
@Html.ActionLink("Visualizar Nota Fiscal", "GerarNFE", "Produto", new { @class = "btn btn-info" })

